<h5 class="font-black">My Profile</h5>
<div class="row profile">
  <div class="small-12 columns">

    {{profile-image-uploader}}

    <hr>

    <div class="row">
      <div class="small-12 medium-7 columns">
        {{input-data-errors errors=currentUser.content.errors.base}}
        <form novalidate  {{action "save" on="submit"}}>
          <div class="row">
            <div class="small-12 columns">
              <label class={{if currentUser.content.errors.name "is-invalid-label" ""}}>Profile name
                {{input type="text" placeholder="eg, John Doe" value=currentUser.content.name id="user-name"}}
                {{input-data-errors errors=currentUser.content.errors.name}}
              </label>
            </div>
            <div class="small-12 columns">
              <label class={{if currentUser.content.errors.email "is-invalid-label" ""}}>Email Address
                {{input type="email" placeholder="Email Address" value=currentUser.content.email id="user-email"}}
                {{input-data-errors errors=currentUser.content.errors.email}}
              </label>
            </div>
            <div class="small-12 columns">
              <label class={{if currentUser.content.errors.paypal_id "is-invalid-label" ""}}>Paypal Account
                {{input type="text" placeholder="Paypal Account" value=currentUser.content.paypal_id id="user-paypal_id"}}
                {{input-data-errors errors=currentUser.content.errors.paypal_id}}
              </label>
            </div>
            <div class="small-12 columns">
              <label class={{if currentUser.content.errors.handle "is-invalid-label" ""}}>Handle
                <div class="input-group">
                  <span class="input-group-label">http://sublimation.kitchen/</span>
                  {{input class="input-group-field" type="text" placeholder="johndoe" value=currentUser.content.handle id="user-handle"}}
                </div>
                {{input-data-errors errors=currentUser.content.errors.handle}}
              </label>
            </div>
            <div class="small-12 columns">
              <label class={{if currentUser.content.errors.bio "is-invalid-label" ""}}>BIO
                {{textarea value=currentUser.content.bio id="user-bio" rows="5" placeholder="About you"}}
                {{input-data-errors errors=currentUser.content.errors.bio}}
              </label>
            </div>
          </div>
          <div class="row">
            <div class="small-12 columns text-right">
              <button class="button uppercase" id="save-button">save</button>
            </div>
          </div>
        </form>
      </div>
      <div class="small-12 medium-5 columns">
        <span class="font-bold">Deafault Address</span>
        <p>
          <small>
            {{#if showAddress}}
              {{address.firstName}} {{address.lastName}}
              {{#if address.address}}
                <br>
                {{address.address}}
              {{/if}}
              {{#if (or address.zip address.region)}}
                <br>
                {{address.zip}} {{address.region}}
              {{/if}}
              {{#if address.city}}
                <br>
                {{address.city}}
              {{/if}}
              {{#if address.country}}
                <br>
                {{address.country}}
              {{/if}}
            {{else}}
              Add your default address, so you will not have to type it everytime you place an order.
            {{/if}}
          </small>
        </p>
            {{#if showAddress}}
              {{#link-to 'profile-address' class="button dark uppercase"}}edit address{{/link-to}}
            {{else}}
              {{#link-to 'profile-address' class="button dark uppercase"}}add address{{/link-to}}
            {{/if}}
      </div>
    </div>
  </div>
</div>
