<div class="row profile">
  <div class="small-12 columns">

    <div class="row">
      <div class="small-12 medium-3 large-2 columns">
        {{#if user.data.image_url}}
        <img src="{{user.data.image_url}}" alt="">
        {{else}}
        <img src="assets/images/default.png" alt="">
        {{/if}}
      </div>
      <div class="small-12 medium-9 large-10 columns">
        <h5 class="font-black uppercase">{{user.data.name}}</h5>
        <p>{{user.data.email}}</p>
        <p>
          <form id="formAvatarUpload">
            <label id="uploadButton" for="avatarFileUpload" class="button hollow upload">upload</label>
            {{input type="file" name="image" id="avatarFileUpload" class="show-for-sr" value=user.data.profile_image}}

            {{input-errors errors=errors.profile_image}}
          </form>
        </p>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="small-12 medium-7 columns">
        {{input-errors errors=errors.base}}
        <form novalidate>
          <div class="row">
            <div class="small-12 columns">
              <label class={{if errors.name "is-invalid-label" ""}}>Profile name
                {{input type="text" placeholder="eg, John Doe" value=user.data.name id="user-name"}}
                {{input-errors errors=errors.name}}
              </label>
            </div>
            <div class="small-12 columns">
              <label class={{if errors.email "is-invalid-label" ""}}>Email Address
                {{input type="email" placeholder="Email Address" value=user.data.email id="user-email"}}
                {{input-errors errors=errors.email}}
              </label>
            </div>
            <div class="small-12 columns">
              <label class={{if errors.handle "is-invalid-label" ""}}>Handle
                <div class="input-group">
                  <span class="input-group-label">http://sublimation.kitchen/artists/</span>
                  {{input class="input-group-field" type="text" placeholder="johndoe" value=user.data.handle id="user-handle"}}
                </div>
                {{input-errors errors=errors.handle}}
              </label>
            </div>
          </div>
        </form>
      </div>
      <div class="small-12 medium-5 columns">
        <span class="font-bold">Deafault Address</span>
        <p>
          <small>
            Add your default address, so you will not have to type it everytime you place an order.
          </small>
        </p>
        {{#link-to 'profile-address' class="button dark uppercase"}}add address{{/link-to}}
      </div>
    </div>

    {{#if user.data.artist}}
      {{#if (eq user.data.status 'unverified')}}
        <div class="row font-bold become-a-cook">
          <div class="small-12 columns center">
            <h2 class="font-black uppercase">We are waiting for payment confirmation!</h2>
            <p>
              <button class="button dark uppercase" onclick={{action 'becomeCook'}}>Confirm one more time</button>
            </p>
          </div>
        </div>
      {{/if}}
    {{else}}
      <div class="row font-bold become-a-cook">
        <div class="small-12 columns center">
          <h2 class="font-black uppercase">become a cook!</h2>
          <p class="font-bold">Create your own Artist Profile and start cooking today!</p>
          <p>
            <button class="button dark uppercase" onclick={{action 'becomeCook'}}>start here</button>
            <span class="uppercase or"> or </span>
            <button class="button dark uppercase">read more</button>
          </p>
        </div>
      </div>
    {{/if}}
  </div>
</div>
