<div class="row">
  <div class="small-12 columns">
    <form id="formImageUpload">
      <label id="uploadButton" for="imageFileUpload" class="button upload uppercase">upload artwork</label>
      {{input type="file" name="image" id="imageFileUpload" class="show-for-sr" value=product.rawImage}}

      {{input-errors errors=errors.image}}
    </form>
      {{#if product.image}}
        {{#if session.isAuthenticated}}
          <a class="button uppercase js-publish-button" onclick={{action 'showPublishingPopup'}}>save</a>
        {{/if}}
      {{/if}}
  </div>
</div>


<div class="row collapse" data-equalizer>
  <div class="small-11 columns editor" data-equalizer-watch>
    <canvas id="js-custom-product"></canvas>

    {{#if product.image}}
      {{#if showRotationWheel}}
      <div class="js-rotation-tool rotation-wrapper"
        onmousedown={{action 'startRotating'}}
        onmouseup={{action 'stopRotating'}}
        onmouseleave={{action 'stopRotating'}}
        onmousemove={{action 'rotate'}}
        onclick={{action 'rotateNow'}} >
          <div class="rotation-outline">
            <div class="rotation-outline2">
              <div class="rotation-position"></div>
              <div class="rotation-center">
              </div>
            </div>
          </div>
          <div class="rotation-angle-wrapper">
            <div class="rotation-angle">
              {{rotationAngle}}°
            </div>
          </div>
        </div>
      {{/if}}
    {{/if}}
  </div>
  <div class="small-1 columns controlls-wrapper" data-equalizer-watch>
    <div class="controlls {{if product.image 'visible' 'hidden'}}">
      <div class="rotate" onclick={{action 'showRotationWheel'}}>
      </div>
      <div class="move" onclick={{action 'hideRotationWheel'}}>
      </div>
      <div class="zoom">
        <div class="plus" onclick={{action 'scaleUp'}}>
        </div>
        <div class="size">
          <div class="size-indicator"></div>
        </div>
        <div class="minus" onclick={{action 'scaleDown'}}>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="reveal" id="publishModal" data-reveal data-close-on-click="true">
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
  <div class="row white">
    <div class="small-12 columns">
      <div class="row">
        <div class="small-12 columns">
          <h5 class="uppercase">design details</h5>
        </div>
      </div>
      <div class="row">
        <div class="small-12 columns">
          <form novalidate {{action "publish" on="submit"}}>
              {{#if user.artist}}
              <div class="row">
                <div class="small-12 columns">
                  <label>Publish:</label>
                  {{#select-box/native on-select=(action 'updateIsPublished') as |sb|}}
                    {{sb.option value='true' label='Yes'}}
                    {{sb.option value='false' label='No'}}
                  {{/select-box/native}}
                </div>
              </div>
              {{/if}}
            <div class="row">
              <div class="small-12 columns">
                <label>Title:
                  {{input  type="text" name="title" autocomplete="off" value=product.name placeholder="Puppy Monkey baby" aria-describedby="Product title" required=true}}
                </label>
              </div>
            </div>
            <div class="row">
              <div class="small-12 columns">
                <label>Tags:
                  {{input  type="text" name="tags" autocomplete="off" value=product.joinedTags placeholder="Pug, Monkey, Baby, Space, Pink" aria-describedby="Product tags" required=true}}
                  <span class="hint">
                    Press Comma, or Spacebar to create a new tag. Backspace or Delete to remove the last one.
                  </span>
                </label>
              </div>
            </div>
            <div class="row">
              <div class="small-12 columns">
                <label>Themes:</label>
                <span class="hint">
                  Carefully select at least 1 theme (up to 4) to help other people find your products in the Shop.
                </span>
              </div>
            </div>
            {{#multiselect-checkboxes options=themes.themes selection=selectedThemes tagName='div' classNames='row collapse medium-up-4 themes' onchange=(action 'updateThemeSelection') as |theme isSelected|}}
              <div class="column">
                {{input type="checkbox" checked=isSelected id=(concat theme '-theme')}}
                <label for="{{concat theme '-theme'}}">
                  {{theme}}
                </label>
              </div>
            {{/multiselect-checkboxes}}
            <div class="row actions text-center">
              <div class="small-12 columns">
                <button class="button dark uppercase font-bold" type="submit" value="publish">publish</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
