<form id="formImageUpload">
  <label id="uploadButton" for="imageFileUpload" class="button upload uppercase">upload artwork</label>
  {{input type="file" name="image" id="imageFileUpload" class="show-for-sr" value=product.image}}

  {{input-errors errors=errors.image}}
</form>

<div class="row collapse" data-equalizer>
  <div class="small-11 columns editor" data-equalizer-watch>
    <canvas id="js-custom-product"></canvas>

    {{#if product.image}}
      {{#if showRotationWheel}}
      <div class="js-rotation-tool rotation-wrapper"
        onmousedown={{action 'startRotating'}}
        onmouseup={{action 'stopRotating'}}
        onmouseleave={{action 'stopRotating'}}
        onmousemove={{action 'rotate'}}
        onclick={{action 'rotateNow'}} >
          <div class="rotation-outline">
            <div class="rotation-outline2">
              <div class="rotation-position"></div>
              <div class="rotation-center">
              </div>
            </div>
          </div>
          <div class="rotation-angle-wrapper">
            <div class="rotation-angle">
              {{rotationAngle}}°
            </div>
          </div>
        </div>
      {{/if}}
    {{/if}}
  </div>
  <div class="small-1 columns controlls-wrapper" data-equalizer-watch>
    <div class="controlls {{if product.image 'visible' 'hidden'}}">
      <div class="rotate" onclick={{action 'showRotationWheel'}}>
      </div>
      <div class="move" onclick={{action 'hideRotationWheel'}}>
      </div>
      <div class="zoom">
        <div class="plus" onclick={{action 'scaleUp'}}>
        </div>
        <div class="size" onclick={{action 'setScale'}}>
          <div class="size-indicator"></div>
        </div>
        <div class="minus" onclick={{action 'scaleDown'}}>
        </div>
      </div>
    </div>
  </div>
</div>


<!--
drag and drop for resize
2000x2000 or bigger
1500 min
mouse out stops resize
-->
