{{#shopping-cart}}
{{app-header}}
{{#if (eq model.user.status 'verified')}}
  {{shop-banner-uploader withUploader=false withDefaultBanner=false user=model.user}}
{{/if}}
<section class="public-profile">
  {{user-public-profile user=model.user products=model.products}}

  <hr>

  <div class="row small-12 column">
    <div class="small-12 columns sort">
      <div class="small-6 medium-6 column">
        <label for="sort">SORT BY:</label>
        {{#x-select value=sorted_by id="sort" action="updateSortBy"}}
          {{#x-option value='created_at_desc'}}Latest{{/x-option}}
          {{#x-option value='created_at_asc'}}Oldest{{/x-option}}
          {{#x-option value='name_desc'}}Alphabetically: Z-A{{/x-option}}
          {{#x-option value='name_asc'}}Alphabetically: A-Z{{/x-option}}
          {{#x-option value='price_desc'}}Price: High to Low{{/x-option}}
          {{#x-option value='price_asc'}}Price: Low to High{{/x-option}}
          {{#x-option value='best_sellers'}}Best Sellers{{/x-option}}
        {{/x-select}}
      </div>
      <div class="small-6 medium-6 column">
        <div class="row">
          <div class="small-12 columns text-right">
            <div class="per-page-content">
              {{!--
              <a>ITEMS PER PAGE:</a>
              <a class="limit" onclick={{action 'changePerPage' 30}}>30</a>
              <a class="limit" onclick={{action 'changePerPage' 90}}>90</a>
              --}}
              <div class="refine text-left">
                <a class="refine-content refine-active" onclick={{action 'refine'}}>REFINE</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="filters-container collapse">
    <div class="row collapse">
      <div class="small-12 columns filters">
        <div class="column small-4 medium-2">
          <p class="filter-by">Type:</p>
          {{#multiselect-checkboxes options=productTypes selection=product_type tagName='div' classNames='columns small-up-1 filter' as |type isSelected|}}
            <div class="column text-left">
              {{input type="checkbox" checked=isSelected id=(concat type '-type')}}
              <label for="{{concat type '-type' }}">
                {{capitalize type}}
              </label>
            </div>
          {{/multiselect-checkboxes}}
        </div>
        <div class="column small-4 medium-6">
          <p class="filter-by">Theme:</p>
          {{#multiselect-checkboxes options=model.themes.themes selection=tags tagName='div' classNames='columns small-up-5 filter theme' as |theme isSelected|}}
            <div class="column text-left">
              {{input type="checkbox" checked=isSelected id=(concat theme '-type')}}
              <label for="{{concat theme '-type' }}">
                {{capitalize theme}}
              </label>
            </div>
          {{/multiselect-checkboxes}}
        </div>
        <div class="column small-4 medium-4">
          <!--<p class="filter-by">Price:</p>-->
          <!--{{!#multiselect-checkboxes options=priceRanges selection=price_range tagName='div' classNames='columns small-up-1 filter' onchange=(action 'updatePriceRange') updateSelectionValue=false as |priceRange isSelected|}}-->
            <!--<div class="column text-left">-->
              <!--{{!input type="checkbox" checked=isSelected id=(concat priceRange '-type')}}-->
              <!--<label for="{{!concat priceRange '-type' }}">-->
                <!--{{!format-price-range priceRange}}-->
              <!--</label>-->
            <!--</div>-->
          <!--{{!/multiselect-checkboxes}}-->
        </div>
      </div>
    </div>
  </div>

  <section class="products" id="products">
    {{user-public-profile/products user=model.user products=model.products}}
    <div class="row">
      <div class="small-12 columns text-right">
        {{page-numbers content=model.products  action=(action 'pageClicked')}}
      </div>
    </div>
  </section>
</section>

{{app-footer}}
{{/shopping-cart}}
