<div class="row promo">
  <div class="small-12 medium-4 columns center">
    <a href="{{promo.promo_1_url}}">
      <img media="large" src="{{promo.promo_1_img}}" alt="promo block 1">
    </a>
  </div>
  <div class="small-12 medium-4 columns center">
    <a href="{{promo.promo_2_url}}">
      <img media="large" src="{{promo.promo_2_img}}" alt="promo block 2">
    </a>
  </div>
  <div class="small-12 medium-4 columns center">
    <a href="{{promo.promo_3_url}}">
      <img media="large" src="{{promo.promo_3_img}}" alt="promo block 3">
    </a>
  </div>
</div>
