<div class="spacer"></div>
<div class="row profile-address-form">
  <div class="small-12 columns">
    <div class="row">
      <div class="small-12 columns center header">
        {{#link-to 'profile' class="back uppercase button hollow"}}back{{/link-to}}
        <h4 class="font-bold">My Address</h4>
      </div>
    </div>
    <div class="row">
      <div class="small-12 small-centered columns">
        {{input-errors errors=address.errors.base}}
        <form novalidate {{action "saveAddress" on="submit"}}>
          <div class="row">

            <div class="small-12 columns">
              <label class={{if address.errors.firstName "is-invalid-label" ""}}>First Name
                {{input type="text" placeholder="John" value=address.firstName}}
                {{input-errors errors=address.errors.firstName}}
              </label>
            </div>

            <div class="small-12 columns">
              <label class={{if address.errors.lastName "is-invalid-label" ""}}>Last Name
                {{input type="text" placeholder="Doe" value=address.lastName}}
                {{input-errors errors=address.errors.lastName}}
              </label>
            </div>

            <div class="small-12 columns">
              <label class={{if address.errors.address "is-invalid-label" ""}}>Address
                {{input type="text" placeholder="eg. 24810 Apple St." value=address.address}}
                {{input-errors errors=address.errors.address}}
              </label>
            </div>

            <div class="small-12 columns">
              <div class="row">
                <div class="small-12 medium-6 columns">
                  <label class={{if address.errors.city "is-invalid-label" ""}}>City
                    {{input type="text" placeholder="eg. New York" value=address.city}}
                    {{input-errors errors=address.errors.city}}
                  </label>
                </div>
                <div class="small-12 medium-6 columns">
                  <label class={{if address.errors.zip "is-invalid-label" ""}}>Postal/Zip Code
                    {{input type="text" placeholder="eg. 91355" value=address.zip}}
                    {{input-errors errors=address.errors.zip}}
                  </label>
                </div>
              </div>
            </div>

            <div class="small-12 columns">
              <div class="row">
                <div class="small-12 medium-6 columns">
                  <label class={{if address.errors.region "is-invalid-label" ""}}>State/Province
                    {{input type="text" placeholder="Your Province" value=address.region}}
                    {{input-errors errors=address.errors.region}}
                  </label>
                </div>
                <div class="small-12 medium-6 columns">
                  <label class={{if address.errors.country "is-invalid-label" ""}}>Country
                    {{input type="text" placeholder="eg. US" value=address.country}}
                    {{input-errors errors=address.errors.country}}
                  </label>
                </div>
              </div>
            </div>

            <div class="small-12 columns">
              <label class={{if address.errors.phone "is-invalid-label" ""}}>Phone Number (Optional)
                {{input type="text" placeholder="Your Phone Number" value=address.phone}}
                {{input-errors errors=address.errors.phone}}
              </label>
            </div>


            <div class="small-12 columns center">
              <div class="spacer"></div>
              <button type="submit" class="button font-light uppercase cta">save address</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
