<section class="check-out">
  <div class="spacer"></div>
  {{#if hasData}}
  <div class="row">

    <div class="small-12 medium-6 medium-push-6 columns">
      <h4 class="uppercase font-black">order summary</h4>
      {{#if hasItems}}
      <div class="row items">
        {{#each payment.order.items as |item|}}
        {{#if (gt item.quantity 0)}}
        <div class="small-12 columns item" id="item-{{item.id}}">
          <div class="row">
            <div class="small-4 medium-3 columns image">
              <img src={{item.preview_url}} alt="{{item.name}}">
              <span class="quantity">
                {{item.quantity}}
              </span>
            </div>
            <div class="small-8 medium-9 columns">
              <div class="row collapse">
                <div class="small-9 columns ellipsis name">
                  {{item.name}}
                </div>
                <div class="small-3 columns price text-right">
                  {{format-number item.price style="currency" currency="USD"}}
                </div>
              </div>
              <div class="row">
                <div class="small-12 columns size">
                  {{item.size}}
                </div>
              </div>
            </div>
          </div>
        </div>
        {{/if}}
        {{/each}}
      </div>

      <div class="row calculations text-right">
        <div class="small-12 columns">
          <div class="row">
            <div class="small-12 columns">
              <strong>subtotal:</strong> {{format-number payment.order.subtotal style="currency" currency="USD"}}
            </div>
          </div>
          <div class="row">
            <div class="small-12 columns">
              <strong>shipping:</strong> {{format-number payment.order.shipping_cost style="currency" currency="USD"}}
            </div>
          </div>
          <div class="row">
            <div class="small-12 columns">
              <strong>tax ({{payment.order.tax}}%):</strong> {{format-number payment.order.tax_cost style="currency" currency="USD"}}
            </div>
          </div>
          <div class="row">
            <div class="small-12 columns">
              <strong>total:</strong> {{format-number payment.order.total_cost style="currency" currency="USD"}}
            </div>
          </div>
        </div>
      </div>
      {{else}}
      <div class="row">
        <div class="small-12 columns uppercase center">
          cart is empty
        </div>
      </div>
      {{/if}}

      {{#if payment.deleted_items}}
      <div class="row items">
        <div class="small-12 columns">
          <div class="callout alert">
            <h5>Some items are unavailable. Sorry.</h5>
          </div>
        </div>
        {{#each payment.deleted_items as |item|}}
        <div class="small-12 columns item removed-item" id="item-{{item.id}}">
          <div class="row">
            <div class="small-4 medium-3 columns image">
              <img src={{item.preview_url}} alt="{{item.name}}">
              <span class="quantity">
                {{item.quantity}}
              </span>
            </div>
            <div class="small-8 medium-9 columns">
              <div class="row collapse">
                <div class="small-9 columns ellipsis name">
                  {{item.name}}
                </div>
                <div class="small-3 columns price text-right">
                  {{format-number item.price style="currency" currency="USD"}}
                </div>
              </div>
              <div class="row">
                <div class="small-12 columns size">
                  {{item.size}}
                </div>
              </div>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
      {{/if}}


      <div class="row info">
        <div class="small-12 columns">
          <strong>
            How long will it take to get my order?
          </strong>
        </div>
        <div class="small-12 columns">
          Your order will ship within 14 business days within your order date.
        </div>
      </div>
    </div>

    <div class="small-12 medium-6 medium-pull-6 columns">
      <h4 class="uppercase font-black">check out</h4>
      <div class="row">
        <div class="small-12 small-centered columns">
          {{input-errors errors=errors.base}}
          <form novalidate {{action "order" on="submit"}}>
            <div class="row">
              <div class="small-12 columns">
                <label class={{if errors.email "is-invalid-label" ""}}>Contact Info
                  {{input type="email" placeholder="Email Address" value=order.email disabled=(not hasItems)}}
                  {{input-errors errors=errors.email}}
                </label>
              </div>
              <div class="small-12 columns">
                <label class={{if errors.full_name "is-invalid-label" ""}}>Shipping Info
                  {{input type="text" placeholder="Full name" value=order.full_name disabled=(not hasItems)}}
                  {{input-errors errors=errors.full_name}}
                </label>
              </div>
              <div class="small-12 columns">
                {{input type="text" placeholder="Street Address" value=order.address disabled=(not hasItems)}}
                {{input-errors errors=errors.address}}
              </div>
              <div class="small-12 columns">
                <div class="row">
                  <div class="small-12 medium-6 columns">
                    {{input type="text" placeholder="City" value=order.city disabled=(not hasItems)}}
                    {{input-errors errors=errors.city}}
                  </div>
                  <div class="small-12 medium-6 columns">
                    {{input type="text" placeholder="State" value=order.region disabled=(not hasItems)}}
                    {{input-errors errors=errors.region}}
                  </div>
                </div>
                <div class="row">
                  <div class="small-12 medium-6 columns">
                    {{input type="text" placeholder="Zip code" value=order.zip disabled=(not hasItems)}}
                    {{input-errors errors=errors.zip}}
                  </div>
                  <div class="small-12 medium-6 columns">
                    {{input type="text" placeholder="Country" value=order.country disabled=(not hasItems)}}
                    {{input-errors errors=errors.country}}
                  </div>
                </div>
              </div>
            </div>
            Payment Info
            <div class="row shipping-method">
              <div class="spacer"></div>
              <div class="small-12 columns">
                <div class="row">
                  <div class="small-6 columns">
                    {{radio-button value='stripe' model_id='' text='Credit Card' chosen=order.payment_type disabled=(not hasItems)}}
                  </div>
                  <div class="small-6 columns text-right">
                    <span class="pf pf-mastercard"></span>
                    <span class="pf pf-visa"></span>
                    <span class="pf pf-american-express-alt"></span>
                    <span class="pf pf-discover"></span>
                  </div>
                </div>
                {{#if (eq order.payment_type 'stripe')}}
                <div class="row">
                  <div class="small-12 columns">
                    <label class={{if errors.card._number "is-invalid-label" ""}}>
                      {{input type="text" placeholder="Credit Card Number" value=card.number disabled=(not hasItems)}}
                      {{input-errors errors=errors.card.number}}
                    </label>
                  </div>
                  <div class="small-12 medium-4 columns">
                    <label class={{if errors.card.exp_month "is-invalid-label" ""}}>
                      {{input type="text" placeholder="MM" value=card.exp_month disabled=(not hasItems)}}
                      {{input-errors errors=errors.card.exp_month}}
                    </label>
                  </div>
                  <div class="small-12 medium-4 columns">
                    <label class={{if errors.card.exp_year "is-invalid-label" ""}}>
                      {{input type="text" placeholder="YYYY" value=card.exp_year disabled=(not hasItems)}}
                      {{input-errors errors=errors.card.exp_year}}
                    </label>
                  </div>
                  <div class="small-12 medium-4 columns">
                    <label class={{if errors.card.cvc "is-invalid-label" ""}}>
                      {{input type="text" placeholder="CVC" value=card.cvc disabled=(not hasItems)}}
                      {{input-errors errors=errors.card.cvc}}
                    </label>
                  </div>
                </div>
                {{/if}}
              </div>
              <hr>
              <div class="small-12 columns">
                <div class="row">
                  <div class="small-6 columns">
                    {{radio-button value='paypal' model_id='' text='Paypal' chosen=order.payment_type disabled=(not hasItems)}}
                  </div>
                  <div class="small-6 columns text-right">
                    <span class="pf pf-paypal"></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="small-12 columns">
                <button type="submit" class="button dark uppercase {{if hasItems "" "disabled"}} place-order">place order</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  {{else}}
  <div class="row">
    <div class="small-12 columns uppercase center">
      cart is empty
    </div>
  </div>
  {{/if}}
</section>
