<section class="product">
  <div class="row">
    <div class="small-12 medium-6 columns">
      <img class="main" src="{{product.preview_url}}" alt="">
    </div>
    <div class="small-12 medium-6 columns">
      <div class="row collapse">
        <div class="small-11 columns ellipsis">
          <h4 class="uppercase"> {{product.name}} </h4>
          <h5 class="uppercase font-light"> {{product.formattedProductType}} </h5>
        </div>
        <div class="small-1 columns text-center likes" onclick={{action 'toggleLike'}}>
          <div class="icon">
            {{#if product.likes_count}}
            <span class="icon-sub-liked">
              <span class="path1"></span><span class="path2"></span>
            </span>
            {{else}}
            <span class="icon-sub-unliked">
              <span class="path1"></span><span class="path2"></span>
            </span>
            {{/if}}
          </div>
          {{product.likes_count}}
        </div>
      </div>
      <div class="row">
        <div class="small-12 columns">
          {{#if product.author.imageUrl}}
            <img class="author-image" src="{{product.author.imageUrl}}" alt="">
          {{else}}
            <img class="author-image" src="assets/images/default.png" alt="">
          {{/if}}

          {{#if product.author.handle}}
            {{#link-to 'public-profile' [product.author.handle]}}
              <span class="author uppercase font-bold"> {{product.author.name}} </span>
            {{/link-to}}
          {{else}}
            <span class="author uppercase font-bold"> {{product.author.name}} </span>
          {{/if}}

        </div>
      </div>
      <div class="row">
        <div class="small-12 columns">
          <h4 class="price"> {{format-number product.price style="currency" currency="USD"}} </h4>
        </div>
      </div>
      <div class="row">
        <div class="small-12 columns sizes">
          SIZE:<span class="sizing-info" onclick={{action "openSizingInfo"}}>SIZING INFO</span>
          <form>
            <ul class="center">
              {{#each product.sizes as |s|}}
              <li>{{radio-button value=s model_id=product.id text=s execute=setSize chosen=size}}</li>
              {{/each}}
            </ul>
          </form>
        </div>
      </div>

      <div class="reveal" id="sizingInfoModal" data-reveal data-close-on-click="true">
        <button class="close-button" data-close aria-label="Close modal" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="row">
          <img src="{{product.size_chart}}" alt="">
        </div>
      </div>

      <div class="row">
        <div class="small-12 columns">
          QUANTITY:
          <div class="input-group quantity">
            <a class="input-group-label minus" onclick={{action "decreaseQuantity"}}>&#8211;</a>
            {{input class="input-group-field center" type="number" value=quantity}}
            <a class="input-group-label plus" onclick={{action "increaseQuantity"}}>+</a>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="small-12 medium-6 columns">
          <a class="button" onclick={{action "addToCart"}} class="blue button addToCart uppercase">ADD TO CART</a>
        </div>
      </div>

      <div class="row">
        <div class="small-12 columns">
          <ul class="tabs" data-tabs id="example-tabs">
            <li class="tabs-title is-active"><a href="#panel1" aria-selected="true">DESCRIPTION</a></li>
            <li class="tabs-title"><a href="#panel2">SIZE CHART</a></li>
            <li class="tabs-title"><a href="#panel3">SHIPPING</a></li>
          </ul>
          <div class="tabs-content" data-tabs-content="example-tabs">
            <div class="tabs-panel is-active" id="panel1">
              <p> {{{product.description}}} </p>
            </div>
            <div class="tabs-panel" id="panel2">
              <img src="{{product.size_chart}}" alt="">
            </div>
            <div class="tabs-panel" id="panel3">
              <p> {{{product.shipping}}} </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="small-12 columns product-supporters">
      <ul class="tabs" data-tabs id="product-supporters">
        <li class="tabs-title is-active"><a href="#comments" aria-selected="true" {{action 'none'}}>COMMENTS (<span class="count">{{product.comments_count}}</span>)</a></li>
        <li class="tabs-title"><a href="#promoters" {{action 'none'}}>PROMOTERS (<span class="count">{{product.likes_count}}</span>)</a></li>
      </ul>
      <div class="tabs-content" data-tabs-content="product-supporters">
        <div class="tabs-panel is-active comments" id="comments">
          {{#each product.comments as |comment|}}
          <div class="row comment">
            <div class="small-2 columns">
              {{#if comment.user.imageUrl}}
              <img src="{{comment.user.imageUrl}}" alt="{{comment.user.name}}">
              {{else}}
              <img src="assets/images/default-2.png" alt="{{comment.user.name}}">
              {{/if}}
            </div>
            <div class="small-10 columns comment-content">
              <div class="row">
                <div class="small-12 columns info">
                  <span class="username">{{comment.user.name}}</span> commented on {{format-date comment.createdAt  hour='numeric' minute='numeric' hour12=true month='long' day='numeric' year ='numeric'}}
                </div>
              </div>
              <div class="row">
                <div class="small-12 columns">
                  {{comment.content}}
                </div>
              </div>
            </div>
          </div>
          {{/each}}

          {{#if user}}
            <div class="row comment">
              <form novalidate {{action "addComment" on="submit"}}>
                <div class="small-12 columns">
                  <div class="row">
                    <div class="small-2 columns">
                      {{#if user.imageUrl}}
                        <img src="{{user.imageUrl}}" alt="{{user.name}}">
                      {{else}}
                        <img src="assets/images/default-2.png" alt="{{user.name}}">
                      {{/if}}
                    </div>
                    <div class="small-10 columns comment-content">
                      <div class="row">
                        <div class="small-12 columns info">
                          <span class="leave-a-comment">Leave a comment</span>
                        </div>
                      </div>
                      <div class="row">
                        <div class="small-12 columns">
                            {{textarea name="comment" rows="3" value=commentContent required=true}}
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row text-right">
                    <button class="button uppercase dark" type="submit" value="comment">add comment</button>
                  </div>
                </div>
              </form>
            </div>
          {{/if}}
        </div>

        <div class="tabs-panel" id="promoters">
          <div class="row small-up-1 medium-up-2 large-up-4">
            {{#each product.promoters as |promoter|}}
            <div class="column promoter">
              <div class="row collapse">
                <div class="small-4 columns">
                  {{#if promoter.imageUrl}}
                  <img src="{{promoter.imageUrl}}" alt="">
                  {{else}}
                  <img src="assets/images/default.png" alt="">
                  {{/if}}
                </div>
                <div class="small-8 columns promoter-details">
                  <div class="row">
                    <div class="small-12 columns">
                      {{promoter.name}}
                    </div>
                  </div>
                  <div class="row">
                    <div class="small-12 columns followers-count">
                      {{promoter.followers_count}} FOLLOWERS
                    </div>
                  </div>
                  {{#if promoter.artist}}
                  <div class="row">
                    <div class="small-12 columns">
                      <span class="cook">COOK</span>
                    </div>
                  </div>
                  {{/if}}
                </div>
              </div>
            </div>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

