<!-- top bar -->
<div class="top-bar top-info">
  <span>yes, we ship internationally!</span>
</div>

<!-- Small Navigation -->
<div class="title-bar title-bar__small" data-responsive-toggle="nav-menu" data-hide-for="medium">
  <button class="menu-icon" type="button" data-toggle></button>
  {{#link-to 'index' class="logo"}}
    <img src="assets/images/logo.png" alt="">
    <span class="name"><strong>sub</strong>kitchen</span>
  {{/link-to}}
</div>

<!-- Medium-Up Navigation -->
<nav class="top-bar" id="nav-menu">
  <ul class="vertical medium-horizontal menu">
    <li class="logo-wrapper">
      {{#link-to 'index' class="logo"}}
        <img src="assets/images/logo.png" alt="">
        <span class="name"><strong>sub</strong>kitchen</span>
      {{/link-to}}
    </li>
    <li> {{#link-to 'products' (query-params search_query="") class="menu-item uppercase"}} shop {{/link-to}} </li>
    <li> {{#link-to 'cooking' (query-params product_id="" selected_template_id="") class="menu-item uppercase"}} create {{/link-to}} </li>
    <!-- <li><a class="menu-item" href="#">sell</a></li> -->
    <!-- <li><a class="menu-item" href="#">artists</a></li> -->
    <li class="divider"></li>
    <li class="search-form">
      {{input type="text" class="search" placeholder="SEARCH" value=queryString}}
      <span class="icon-sub-search"></span>
    </li>
    <li class="divider"></li>
    <li>
      {{#if session.isAuthenticated}}
      <ul class="dropdown menu" data-dropdown-menu>
        <li>
          {{#link-to 'profile' class="join uppercase"}}
            <span class="uppercase">my&nbsp;kitchen</span>
          {{/link-to}}
          <ul class="menu">
            <li>
              {{#link-to 'profile' class="uppercase"}}profile{{/link-to}}
            </li>
            <li>
              <a class="uppercase" onclick={{action 'invalidateSession'}}>
                logout
              </a>
            </li>
          </ul>
        </li>
      </ul>
      {{else}}
      <a class="join" onclick={{action 'showLogin'}}>
        <span>join/login</span>
      </a>
      {{/if}}
    </li>
    <!-- <li class="menu-item-wishlist__wrapper"> <a class="action-item"> <span class="icon-sub-heart"></span> </a> </li> -->

    <li class="menu-item-my-kitchen__wrapper" data-toggle="cart-dropdown" id="cart-dropdown-trigger">
      <a class="action-item basket-indicator" onclick={{action 'showCart'}}> <span class="icon-sub-basket"></span>
        <span class="basket-counter">{{cartCount}}</span>
      </a>

      <div class="dropdown-pane bottom" id="cart-dropdown" data-dropdown data-hover="true" data-auto-focus="true" data-close-on-click="true">
        <h5 class="uppercase font-bold text-center">your cart</h5>

        {{#if hasData}}
        <ul class="vertical menu">
          {{#each cart.order.data.items as |item|}}
          <li>
            <div class="row collapse" >
              <div class="small-8 columns text-left">
                <div class="row collapse">
                  <div class="small-12 columns ellipsis name">
                    <small>{{item.name}}</small>
                  </div>
                </div>
                <div class="row collapse">
                  <div class="small-12 columns size">
                    <small>QTY: {{item.quantity}} {{item.size}}</small>
                  </div>
                </div>
              </div>
              <div class="small-4 columns text-right">
                <div class="row collapse">
                  <div class="small-12 columns price">
                    <small>{{format-number item.price style="currency" currency="USD"}}</small>
                  </div>
                </div>
              </div>
            </div>
          </li>
          {{/each}}
        </ul>
        {{else}}
        <div class="row items">
          <div class="small-12 columns uppercase center">
            is empty
          </div>
        </div>
        {{/if}}

        <div class="row total">
          <div class="small-12 columns text-center">
            <small><strong>Total:</strong> {{format-number cart.order.data.total_cost style="currency" currency="USD"}}</small>
          </div>
        </div>
        <div class="row">
          <div class="small-12 columns">
            <div class="button blue" onclick={{action 'showCart'}}>Edit cart/Checkout</div>
          </div>
        </div>
      </div>
    </li>

  </ul>
</nav>

{{login-modal}}
{{flash-messages}}
