<div class="off-canvas-wrapper position-right">
  <div class="off-canvas-wrapper-inner position-right" data-off-canvas-wrapper>
    <div id="shopping-cart" class="off-canvas position-right shopping-cart" data-position="right" data-off-canvas>
      <a onclick={{action 'close'}} class="close">X</a>
      <div class="shopping-cart-wrapper">
        <div class="shopping-cart-content">
          <div class="row center">
            <div class="small-12 columns">
              <span class="title font-bold uppercase">basket</span>
            </div>
          </div>
          {{#if hasData}}
          <div class="row items">
            {{#each cart.order.data.items as |item|}}
            <div class="small-12 columns item" id="item-{{item.id}}">
              <div class="row collapse" >
                <div class="small-4 columns">
                  <img src={{item.image}} alt="{{item.name}}">
                </div>
                <div class="small-8 columns">
                  <div class="remove" onclick={{action 'remove' item.id}}>X</div>
                  <div class="row">
                    <div class="small-12 columns ellipsis name">
                      {{item.name}}
                    </div>
                  </div>
                  <div class="row">
                    <div class="small-12 columns size">
                      size: {{item.size}}
                    </div>
                  </div>
                  <div class="row">
                    <div class="small-12 columns quantity">
                      quantity: {{item.quantity}}
                    </div>
                  </div>
                  <div class="row">
                    <div class="small-12 columns price">
                      ${{item.price}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {{/each}}
          </div>

          <div class="row calculations text-right">
            <div class="small-12 columns">
              <div class="row">
                <div class="small-12 columns">
                  <strong>subtotal:</strong> ${{cart.order.data.subtotal}}
                </div>
              </div>
              <div class="row">
                <div class="small-12 columns">
                  <strong>shipping:</strong> ${{cart.order.data.shipping_cost}}
                </div>
              </div>
              <div class="row">
                <div class="small-12 columns">
                  <strong>tax ({{cart.order.data.tax}}%):</strong> ${{cart.order.data.tax_cost}}
                </div>
              </div>
              <div class="row">
                <div class="small-12 columns">
                  <strong>total:</strong> ${{cart.order.data.total}}
                </div>
              </div>
            </div>
          </div>
          {{else}}
          <div class="row items">
            <div class="small-12 columns uppercase center">
              is empty
            </div>
          </div>
          {{/if}}
        </div>
      </div>
    </div>
    <div class="off-canvas-content" data-off-canvas-content>{{yield}}</div>
  </div>
</div>
