{{#shopping-cart}}
  {{app-header}}
  <div class="spacer"></div>
  <div class="row">
    <div class="small-12 columns">
      <div class="row" style="position: relative">
        <div class="small-12 medium-3 columns" data-sticky-container>
          <h5 class="center font-black">Account</h5>
          {{profile-menu}}
        </div>
        <div class="small-12 medium-9 columns">
          {{outlet}}
        </div>
      </div>
      {{outlet "artist-stats"}}
    </div>
  </div>
  {{app-footer}}
{{/shopping-cart}}
