<div class="row becoming-a-cook">
  <div class="small-12 medium-6 small-centered columns">
    <div class="row">
      <div class="small-12 columns center">
        <h4 class="uppercase font-bold">VERIFY YOUR IDENTITY</h4>
        <p>In order to sell your designs you must be verifeid member.
          Verification is one-time process that must be completed
          through PayPal and costs $1. You must also read and
          accept the <a target="_blank" href="/assets/docs/terms-and-conditions.pdf">Artists Terms and Conditions </a>.</p>
        <h5 class="uppercase font-bold">BECOME A COOK</h5>

        <div class="row">
          <div class="small-12 columns center">
            <label>
              {{input type="checkbox" checked=company.terms}}
              I agree to the <a target="_blank" href="/assets/docs/terms-and-conditions.pdf"> Terms and Conditions </a>
              {{input-errors errors=errors.terms}}
            </label>
          </div>
        </div>

        <div class="row">
          <div class="small-12 columns center">
            <label>
              {{input type="checkbox" checked=company.has_company}}
              I run my own business
              {{input-errors errors=errors.has_company}}
            </label>
          </div>
        </div>

      </div>
    </div>
    <div class="row">
      <div class="small-12 columns">
        {{input-errors errors=errors.base}}
        <form novalidate {{action "becomeCook" on="submit"}}>
          <div class="row">
            <div class="small-12 columns">
              <label class={{if errors.handle "is-invalid-label" ""}}>Handle
                <div class="input-group">
                  <span class="input-group-label">http://sublimation.kitchen/artists/</span>
                  {{input class="input-group-field" type="text" placeholder="johndoe" value=company.handle id="user-handle"}}
                </div>
                {{input-errors errors=errors.handle}}
              </label>
            </div>
          </div>
          <div class="row">
            <div class="small-12 columns">
              <label class={{if errors.comapny_name "is-invalid-label" ""}}>Company Name
                {{input type="text" placeholder="Company Name" value=company.company_name disabled=private }}
                {{input-errors errors=errors.company_name}}
              </label>
            </div>
          </div>
          <div class="row">
            <div class="small-12 columns">
              <label class={{if errors.address "is-invalid-label" ""}}>Address
                {{input type="text" placeholder="Address" value=company.address disabled=private}}
                {{input-errors errors=errors.address}}
              </label>
            </div>
          </div>

          <div class="row">
            <div class="small-12 medium-6 columns">
              <label class={{if errors.city "is-invalid-label" ""}}>City
                {{input type="text" placeholder="City" value=company.city disabled=private}}
                {{input-errors errors=errors.city}}
              </label>
            </div>
            <div class="small-12 medium-6 columns">
              <label class={{if errors.zip "is-invalid-label" ""}}>Postal/Zip Code
                {{input type="text" placeholder="Postal/Zip Code" value=company.zip disabled=private}}
                {{input-errors errors=errors.zip}}
              </label>
            </div>
          </div>

          <div class="row">
            <div class="small-12 medium-6 columns">
              <label class={{if errors.region "is-invalid-label" ""}}>region/Providence
                {{input type="text" placeholder="State/Providence" value=company.region disabled=private}}
                {{input-errors errors=errors.region}}
              </label>
            </div>
            <div class="small-12 medium-6 columns">
              <label class={{if errors.country "is-invalid-label" ""}}>Country
                {{input type="text" placeholder="Country" value=company.country disabled=private}}
                {{input-errors errors=errors.country}}
              </label>
            </div>
          </div>
          <div class="row">
            <div class="small-12 columns center">
              <button class="button dark uppercase {{if company.terms "" "disabled"}}" type="submit">lets start cooking</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
