<div class="row becoming-a-cook">
  <div class="small-12 medium-6 small-centered columns">
    <div class="row">
      <div class="small-12 columns center">
        <h4 class="uppercase font-bold">VERIFY YOUR IDENTITY</h4>
        <p>In order to sell your designs you must be verifeid member.
          Verification is one-time process that must be completed
          through PayPal and costs $1. You must also read and
          accept the <a target="_blank" href="/assets/docs/terms-and-conditions.pdf">Artists Terms and Conditions </a>.</p>
        <h5 class="uppercase font-bold">BECOME A COOK</h5>

        <div class="row">
          <div class="small-12 columns center">
            <label>
              {{input type="checkbox" checked=user.terms}}
              I agree to the <a target="_blank" href="/assets/docs/terms-and-conditions.pdf"> Terms and Conditions </a>
              {{input-errors errors=errors.terms}}
            </label>
          </div>
        </div>

        <div class="row">
          <div class="small-12 columns center">
            <label>
              {{input type="checkbox" checked=user.ownBusiness}}
              I run my own business
              {{input-errors errors=errors.ownBusiness}}
            </label>
          </div>
        </div>

      </div>
    </div>
    <div class="row">
      <div class="small-12 columns">
        <form novalidate {{action "becomeCook" on="submit"}}>
          <div class="row">
            <div class="small-12 columns">
              <label class={{if errors.comapny_name "is-invalid-label" ""}}>Company Name
                {{input type="text" placeholder="Company Name" value=user.company_name disabled=private }}
                {{input-errors errors=errors.company_name}}
              </label>
            </div>
          </div>
          <div class="row">
            <div class="small-12 columns">
              <label class={{if errors.street "is-invalid-label" ""}}>Address
                {{input type="text" placeholder="Address" value=user.street disabled=private}}
                {{input-errors errors=errors.street}}
              </label>
            </div>
          </div>

          <div class="row">
            <div class="small-12 medium-6 columns">
              <label class={{if errors.city "is-invalid-label" ""}}>City
                {{input type="text" placeholder="City" value=user.city disabled=private}}
                {{input-errors errors=errors.city}}
              </label>
            </div>
            <div class="small-12 medium-6 columns">
              <label class={{if errors.zip "is-invalid-label" ""}}>Postal/Zip Code
                {{input type="text" placeholder="Postal/Zip Code" value=user.zip disabled=private}}
                {{input-errors errors=errors.zip}}
              </label>
            </div>
          </div>

          <div class="row">
            <div class="small-12 medium-6 columns">
              <label class={{if errors.state "is-invalid-label" ""}}>State/Providence
                {{input type="text" placeholder="State/Providence" value=user.state disabled=private}}
                {{input-errors errors=errors.state}}
              </label>
            </div>
            <div class="small-12 medium-6 columns">
              <label class={{if errors.country "is-invalid-label" ""}}>Country
                {{input type="text" placeholder="Country" value=user.country disabled=private}}
                {{input-errors errors=errors.country}}
              </label>
            </div>
          </div>
          <div class="row">
            <div class="small-12 columns center">
              <button class="button dark uppercase {{if user.terms "" "disabled"}}" type="submit">lets start cooking</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
