<div class="row becoming-a-cook">
  <div class="small-12 medium-6 small-centered columns reserve-your-shop">
    <div class="row">
      <div class="small-12 columns">
        <h2 class="uppercase font-bold">WE'VE GOT THE RECIPE FOR ALL-OVER-PRINT</h2>
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns">
      <div class="row">
        <div class="small-12 medium-6 column">
          <h3>Let's Cook!</h3>
          <ul>
            <li>100 % FREE e-commerce shop</li>
            <li>On-Demand Fulfillment (no logistics to worry about)</li>
            <li>Network of like minded creatives</li>
            <li>100% cut & sew high quality sublimation (Yes, we have hoodies & sweatshirts)</li>
            <li>Higher commissions than you'll make anywhere else</li>
            <li>Plus we'll double your first $1,000 in earnings (beta participants only*)</li>
          </ul>
        </div>
        <div class="small-12 medium-6 column">
          {{input-errors errors=errors.base}}
          <form novalidate {{action "becomeCook" on="submit"}}>
          {{#if session.isAuthenticated}}
            <button class="button blue uppercase" type="submit">reserve your shop</button>
          {{else}}
            <div class="row">
              <div class="small-12 columns">
                <label class={{if errors.handle "is-invalid-label" ""}}>
                  {{input type="text" placeholder="sublimation.kitchen/Your Shop URL" value=user.handle}}
                  {{input-errors errors=errors.handle}}
                </label>
              </div>
              <div class="small-12 columns">
                <label class={{if errors.name "is-invalid-label" ""}}>
                  {{input type="text" placeholder="Username" value=user.name}}
                  {{input-errors errors=errors.name}}
                </label>
              </div>
              <div class="small-12 columns">
                <label class={{if errors.email "is-invalid-label" ""}}>
                  {{input type="email" placeholder="Email" value=user.email}}
                  {{input-errors errors=errors.email}}
                </label>
              </div>
              <div class="small-12 columns">
                <label class={{if errors.password "is-invalid-label" ""}}>
                  {{input type="password" placeholder="Password" value=user.password}}
                  {{input-errors errors=errors.password}}
                </label>
              </div>
              <div class="small-12 columns">
                <button class="button blue uppercase" type="submit">reserve your shop</button>
                <a class="join" onclick={{action 'showLogin'}}>Already a user? Login</a>
              </div>
            </div>
          {{/if}}
          </form>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
{{login-modal}}
<div class="cooking-process">
  <div class="small-12 medium-6 small-centered columns content">
    <h3>You + Us = Amazing</h3>
    <div class="row">
      <div class="small-12 medium-4 column">
        <img src="assets/images/process-3.svg" alt="">
        <h5>YOU CREATE</h5>
        <p>We’ve made it as easy as possible to do what you do best - create using our mock up generator</p>
      </div>
      <div class="small-12 medium-4 column">
        <img src="assets/images/process-2.svg" alt="">
        <h5>We Manufacture</h5>
        <p>With all-over-print cut and sew craftsmanship, we’ll bring your creations to life. People will be amazed by the quality</p>
      </div>
      <div class="small-12 medium-4 column">
        <img src="assets/images/process-1.svg" alt="">
        <h5>You Make Bank</h5>
        <p>Your risk is 0. No setup fees. 100% free to sign up. Your reward is 20% of all revenue. That's higher than anybody else in the industry, p.s. $getpaid</p>
      </div>
    </div>
  </div>
</div>
<div class="process-table">
  <div class="small-12 medium-6 small-centered columns content">
    <h3>How does it work?</h3>
    <p>It’s easy! Once you’ve been verified, you can start uploading your art, and create products
      right away. You could be making money by the end of the day. We’ll
      handle production, shipping, and customer service. </p>
    <table>
      <thead>
        <tr>
          <th></th>
          <th><img src="assets/images/logo-with-title.svg" alt=""></th>
          <th class="e-commerce">E-Commerce Platforms</th>
          <th>On-Demand Platforms</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Sell Your Art Online</td>
          <td><img src="assets/images/checkmark.svg" alt=""></td>
          <td class="e-commerce"><img src="assets/images/checkmark.svg" alt=""></td>
          <td><img src="assets/images/checkmark.svg" alt=""></td>
        </tr>
        <tr>
          <td>20% Commissions</td>
          <td><img src="assets/images/checkmark.svg" alt=""></td>
          <td class="e-commerce"><img src="assets/images/checkmark.svg" alt=""></td>
          <td><div></div></td>
        </tr>
        <tr>
          <td>Cut & Sew Garments</td>
          <td><img src="assets/images/checkmark.svg" alt=""></td>
          <td class="e-commerce"><div></div></td>
          <td><div></div></td>
        </tr>
        <tr>
          <td>All-Over-Print Hoodies & Sweatshirts</td>
          <td><img src="assets/images/checkmark.svg" alt=""></td>
          <td class="e-commerce"><div></div></td>
          <td><div></div></td>
        </tr>
        <tr>
          <td>On Demand Manufacturing</td>
          <td><img src="assets/images/checkmark.svg" alt=""></td>
          <td class="e-commerce"><div></div></td>
          <td><img src="assets/images/checkmark.svg" alt=""></td>
        </tr>
        <tr>
          <td>Fulfillment & Shipping</td>
          <td><img src="assets/images/checkmark.svg" alt=""></td>
          <td class="e-commerce"><div></div></td>
          <td><img src="assets/images/checkmark.svg" alt=""></td>
        </tr>
        <tr>
          <td>Customer Service</td>
          <td><img src="assets/images/checkmark.svg" alt=""></td>
          <td class="e-commerce"><div></div></td>
          <td><img src="assets/images/checkmark.svg" alt=""></td>
        </tr>
        <tr>
          <td>No Cost To You</td>
          <td><img src="assets/images/checkmark.svg" alt=""></td>
          <td class="e-commerce"><div></div></td>
          <td><img src="assets/images/checkmark.svg" alt=""></td>
        </tr>
        <tr>
          <td>Recommended Choice</td>
          <td><img src="assets/images/checkmark.svg" alt=""></td>
          <td class="e-commerce"><div></div></td>
          <td><div></div></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="are-you-ready">
  <div class="small-12 medium-6 small-centered columns content">
    <h3>Plus we'll double your first $1,000*</h3>
    <h5>Are you ready?</h5>
    <button class="button blue uppercase" onclick={{action 'scrollUp'}}>start selling</button>
  </div>
</div>
