<input type="radio" name={{model_id}} id="{{value}}_{{model_id}}" disabled={{disabled}} checked={{eq value chosen}} onchange={{action 'setValue' value="target.value"}} value={{value}}/> <label for="{{value}}_{{model_id}}"> {{text}} </label>
