<div class="row profile-designs">
  <div class="small-12 columns">
    <h5 class="font-black">My Designs</h5>
    {{#each products as |product|}}
      <div class="row design collapse">
        <div class="small-3 columns">
          {{#link-to 'product' product.id}}
            <img src="{{product.preview_url}}" alt="">
          {{/link-to}}
        </div>
        <div class="small-4 columns design-info">
          <p><b>{{product.name}}</b></p>
          <p>{{product.formattedTags}}</p>
        </div>
        <div class="small-2 columns">
          {{#if user.artist}}
            <img src="assets/images/{{product.publishStatus}}.svg" alt="" data-tooltip aria-haspopup="true" class="has-tip top status" data-disable-hover="false" title={{product.publishStatus}}>
          {{/if}}
        </div>
        <div class="small-3 columns published">
          <div class="row small-up-1 large-up-2">
            <div class="small-3 columns">
              <a class="button light uppercase js-publish-button" onclick={{action 'showPublishingPopup' product.id}}>Edit</a>
            </div>
            <div class="small-3 columns">
              <a class="button light uppercase js-publish-button" onclick={{action 'deleteProduct' product.id}}>Delete</a>
            </div>
          </div>
        </div>
        <div class="reveal editModal" id="editModal{{product.id}}" data-reveal data-close-on-click="true">
          <button class="close-button" data-close aria-label="Close modal" type="button">
            <span aria-hidden="true">&times;</span>
          </button>
          <div class="row white">
            <div class="small-12 columns">
              <div class="row">
                <div class="small-12 columns">
                  <h5 class="uppercase">design details</h5>
                </div>
              </div>
              <div class="row">
                <div class="small-12 columns">
                  <form novalidate {{action "publish" product.id on="submit"}}>
                    {{#if (eq user.status 'verified')}}
                      <div class="row">
                        <div class="small-12 columns">
                          <label>Publish:</label>
                            {{#x-select value=product.published action="updateIsPublished"}}
                              {{#x-option value=true}}Yes{{/x-option}}
                              {{#x-option value=false}}No{{/x-option}}
                            {{/x-select}}
                        </div>
                      </div>
                    {{/if}}
                    <div class="row">
                      <div class="small-12 columns">
                        <label class={{if product.errors.name "is-invalid-label" ""}}>Title:
                          {{input type="text" name="title" autocomplete="off" value=product.name placeholder="Puppy Monkey baby" aria-describedby="Product title" required=true}}
                          {{input-data-errors errors=product.errors.name}}
                        </label>
                      </div>
                    </div>
                    <div class="row">
                      <div class="small-12 columns">
                        <label>Tags:
                          {{tags-input values=product.tags themes=themes.themes onAddTag=(action 'addTag') onRemoveTag=(action 'removeTag')}}
                          <span class="hint">
                            Press Comma, or Spacebar to create a new tag. Backspace or Delete to remove the last one.
                          </span>
                        </label>
                      </div>
                    </div>
                    <div class="row">
                      <div class="small-12 columns">
                        <label>Themes:</label>
                  <span class="hint">
                    Carefully select at least 1 theme (up to 4) to help other people find your products in the Shop.
                  </span>
                      </div>
                    </div>
                    {{#multiselect-checkboxes options=themes.themes selection=selectedThemes tagName='div' classNames='row collapse medium-up-4 themes' onchange=(action 'updateThemeSelection') as |theme isSelected|}}
                      <div class="column">
                        {{input type="checkbox" checked=isSelected id=(concat theme '-theme' product.id)}}
                        <label for="{{concat theme '-theme' product.id}}">
                          {{theme}}
                        </label>
                      </div>
                    {{/multiselect-checkboxes}}
                    {{#unless validThemes}}
                      {{input-errors errors="Choose at least one theme"}}
                    {{/unless}}
                    <div class="row actions text-center">
                      <div class="small-12 columns">
                        <button class="button dark uppercase font-bold {{if validThemes "" "disabled"}}" type="submit" value="publish">save</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    {{/each}}
    {{#if (gt products.meta.total_pages products.meta.current_page)}}
      <div class="row">
        <div class="small-12 columns text-center">
          <button class="button uppercase loadMore" onclick={{action 'loadMoreDesigns'}}>load more</button>
        </div>
      </div>
    {{/if}}
  </div>
</div>
