<div class="row image">
  {{#link-to 'public-profile' [artist.handle]}}
    {{#if artist.imageUrl}}
      {{lazy-image url=artist.imageUrl}}
    {{else}}
      <img src="assets/images/default.png" alt="">
    {{/if}}
  {{/link-to}}
  <div class="uppercase products-count">{{artist.products_count}} designs</div>
</div>
<div class="row artist-details">
  <div class="small-6 column uppercase text-left font-bold ellipsis">
    {{#link-to 'public-profile' [artist.handle]}}
      <div class="product-name">{{artist.name}}</div>
    {{/link-to}}
  </div>
  <div class="small-6 column text-right nowrap font-light likes">
    {{artist.likes_count}}
    <span class="icon-sub-liked">
      <span class="path1"></span><span class="path2"></span>
    </span>
  </div>
</div>
