<footer>
  <div class="row">
    <div class="small-12 medium-6 large-5 columns">
      <div class="row footer-links">
        <div class="small-12 large-7 columns">
          <h4>CUSTOMER SERVICE</h4>
          <ul onclick={{action 'linkClicked'}}>
            <li>{{#link-to "information.delivery-and-returns" class="link"}}Delivery and Returns{{/link-to}}</li>
            <li>{{#link-to "information.payment" class="link"}}Payment{{/link-to}}</li>
            <li>{{#link-to "information.about-artist" class="link"}}About Artist Accounts{{/link-to}}</li>
            <li>{{#link-to "information.artist-terms" class="link"}}Artist Terms{{/link-to}}</li>
            <li>{{#link-to "information.terms-and-conditions" class="link"}}Terms and Conditions{{/link-to}}</li>
          </ul>
        </div>
        <div class="small-12 large-5 columns">
          <h4 class="font-normal"><strong class="font-black">SUB</strong>KITCHEN</h4>
          <ul onclick={{action 'linkClicked'}}>
            <li>{{#link-to "information.custom-clothing" class="link"}}Custom Clothing{{/link-to}}</li>
            <li>{{#link-to "information.wholesale" class="link"}}Wholesale{{/link-to}}</li>
            <li>{{#link-to "information.privacy-policy" class="link"}}Privacy Policy{{/link-to}}</li>
            <li>{{#link-to "information.contact" class="link"}}Contact{{/link-to}}</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="small-12 medium-6 large-7 columns">
      <div class="row">
        <div class="small-12 large-5 columns">
          <h4>SOCIAL</h4>
          <p>
            <span class="icon icon-sub-f">
              <span class="path1"></span><span class="path2"></span>
            </span>
            <span class="icon icon-sub-i">
              <span class="path1"></span><span class="path2"></span>
            </span>
            <span class="icon icon-sub-t">
              <span class="path1"></span><span class="path2"></span>
            </span>
          </p>
        </div>
        <div class="small-12 large-7 columns">
          <div class="row">
            <div class="small-12 columns">
              <h4>NEWSLETTER</h4>
              <p>
              <div>
                <form novalidate {{action "subscribe" on="submit"}} class="newsletter-form">
                  {{input type="text" class="newsletter-field" placeholder="Email Address" value=newsletterReceiverEmail required=true}}
                  <button class="button dark" type="submit" value="subscribe">SUBSCRIBE</button>
                </form>
                {{input-errors errors=errors}}
              </div>
              <div class="reveal newsletterModal" id="newsletterModal" data-reveal data-close-on-click="true">
                <button class="close-button" data-close aria-label="Close modal" type="button">
                  <span aria-hidden="true">&times;</span>
                </button>
                <div class="row white">
                  <div class="small-12 text-center columns">
                    <p>You've successfully subscribed to our newsletter!</p>
                  </div>
                </div>
              </div>
              </p>
            </div>
          </div>
          <div class="row">
            <div class="small-12 columns">
              <h4>PAYMENTS</h4>
              <p>
                <span class="inline-label">
                  <span class="hollow secondary button pf pf-paypal"></span>
                  <span class="hollow secondary button pf pf-stripe"></span>
                </span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
