<div class="small-12 medium-3 columns product-info">
  <div class="row">
    <div class="small-12 columns center image">
      <div class="row">
        <div class="small-12 columns">
          <a href="/products/{{id}}">
            <img src="assets/images/t-shirt.png" alt="">
          </a>
        </div>
      </div>
      <div class="row">
        <div class="small-12 columns product-actions">
          <div class="row">
            <div class="small-12 columns sizes">
              <span> SIZES: </span>
              <form>
                <ul class="sizes">
                  {{#each sizes as |s|}}
                  <li>{{radio-button value=s model_id=id text=s execute=setSize chosen=size}}</li>
                  {{/each}}
                </ul>
              </form>
            </div>
          </div>
          <div class="column row small-collapse buttons">
            <div class="small-6 columns">
              <a href="/products/{{id}}" class="black button">VIEW PRODUCT</a>
            </div>
            <div class="small-6 columns">
              <a onclick={{action "addToCart"}} class="primary button">ADD TO CART</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row product-details">
    <div class="small-12 columns">
      <div class="row collapse">
        <div class="small-9 columns uppercase font-bold ellipsis">
          <a href="/products/{{id}}">{{title}}</a>
        </div>
        <div class="small-3 columns text-right nowrap font-light">
          {{likes}}
          <span class="icon-sub-unliked">
            <span class="path1"></span><span class="path2"></span>
          </span>
        </div>
      </div>
      <div class="row collapse">
        <div class="small-9 columns uppercase artist-name">
          by {{artist-name}}
        </div>
        <div class="small-3 columns text-right nowrap font-bold">
          ${{price}}
        </div>
      </div>
    </div>
  </div>
</div>
