{{#shopping-cart}}
  {{app-header}}
  <section class="artists">
    <div class="row small-12">
      <div class="small-12 columns sort">
        <div class="small-12 column">
          <label for="sort">
            <h4 class="font-bold uppercase">Featured Artists</h4>
          </label>
        </div>
      </div>
    </div>

    <div class="row small-up-2 medium-up-4">
      {{#each model.featuredArtists as |artist|}}
        {{artist-info class="small-12 medium-3 columns artist-info" artist=artist}}
      {{/each}}
    </div>

    <div class="row small-12">
      <div class="small-12 columns sort">
        <div class="small-12 column">
          <label for="sort">
            <h4 class="font-bold uppercase">All Artists</h4>
          </label>
          {{#x-select value=sorted_by id="sort" action="updateSortBy"}}
            {{#x-option value='created_at_desc'}}Latest{{/x-option}}
            {{#x-option value='likes_count_desc'}}Most liked{{/x-option}}
          {{/x-select}}
        </div>
      </div>
    </div>

    <div class="row small-up-2 medium-up-4">
      {{#each model.artists as |artist|}}
        {{artist-info class="small-12 medium-3 columns artist-info" artist=artist}}
      {{/each}}
    </div>
    <div class="row">
      <div class="small-12 columns text-right">
        {{page-numbers content=model.artists  action=(action 'pageClicked')}}
      </div>
    </div>
  </section>
  {{app-footer}}
{{/shopping-cart}}
